.NavBar-bar {
  border-bottom: 2px solid rgba(0,0,0,.125);
}

.NavBar-link {
  text-decoration: none;
  color: black;
}

.navbar-brand {
  font-weight: bold;
}

.NavBar-link:hover {
  text-decoration: none;
  color: black;
  font-weight: bold;
}